**/*.o
**/*.bin
**/*.cnt
**/*.elf
**/*.lst
**/*.map
**/*.sec
**/*.txt
hellfireos/usr/image_processing/create_bmp
hellfireos/usr/image_processing/create_image
hellfireos/usr/image_processing/output.bmp
hellfireos/usr/sim/hf_risc_sim/hf_risc_sim
